@import "../../shareStyle/palette";


h2 {
    margin: 0;
    padding: 0;
}

.traders {
    height: 100%;
    width: 250px;
    margin-left: auto;
    padding-left: 10px;

    .traders__container {
        height: 100%;

        .traders__row {
            height: 100%;
            border: 10px solid $accent-color;
            display: flex;
            flex-direction: column;

            .traders__header {
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $accent-color;

                font-size: 28px;
                color: $primary-color-text;
            }
            .traders__list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                background: rgba($primary-color, .5);
            }

        }
    }
}