@import "../../shareStyle/palette";


h2 {
    margin: 0;
    padding: 0;
}

.traders {
    height: 100%;
    width: 220px;
    margin-left: auto;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .traders__container {
        // height: 100%;

        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .traders__row {
            border: 10px solid $accent-color;
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .traders__header {
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $accent-color;

                font-size: 2rem;
                color: $primary-color-text;
            }
            .traders__list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                background: rgba($primary-color, .5);
            }

        }
    }
}