@font-face {
    font-family: 'Cyrillic Pixel-7 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Cyrillic Pixel-7 Regular'), url('../fonts/cyrillic_pixel-7.woff') format('woff');
}