@import "../../shareStyle/palette";
@import "../../shareStyle/btn";


.traders__item {
    // height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-top: 5px solid $accent-color;
    border-bottom: 5px solid $accent-color;
    padding: 10px;

    &._active {
        background: $primary-color-dark;
    }

    .traders__avatar {
        height: 100px;
        width: 100px;
        margin: 10px auto;
        overflow: hidden;
        box-shadow: -6px 0 0 0 $primary-color-text,
                    6px 0 0 0 $primary-color-text,
                    0 -6px 0 0 $primary-color-text,
                    0 6px 0 0 $primary-color-text;
        cursor: pointer;

        .traders__avatar-link {
            height: 100px;
            width: 100px;

            img {
                height: 100px;
                width: 100px;
            }
        }
    }
    .traders__title {
        margin-top: 10px;
        font-size: 1.5rem;
        color: $primary-color-text;
        cursor: pointer;

        .traders__title-link {
            font-size: inherit;
            color: inherit;
        }
    };    
    .traders__discription {
        margin: 0;
        padding: 0;
    }
    .traders__actions {
        width: 100%;
        margin-top: .5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .traders__actions-buy {
            @extend %accent-btn;
            width: 80px;
            margin: 0 .5rem;
        };
        .traders__actions-sell {
            @extend %reverse-accent-btn;            
            width: 80px;
            margin: 0 .5rem;
        }
    }
}