@import "../../shareStyle/palette";
@import "../../shareStyle/block";

.bag {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;


    .bag__container {
        height: 100%;
        max-width: 1200px;
        padding: 0 15px;

        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .bag__header {
            @include accent-block-border;
            padding-top: 0;
            padding-bottom: 0;
        }
        .bag__list {
            @include dark-primary-block-border-pixel(.4rem);
            width: auto;
            margin: 1rem .4rem;
            padding: 1rem;

            display: grid;
            grid-template-columns: repeat(5, minmax(150px, 1fr));
            grid-template-rows: repeat(3, 1fr);
            gap: 1rem;

            flex-grow: 1;
            background: rgba($primary-color-text, 0.5);
        }
    }
}