@import "../../shareStyle/palette";
@import "../../shareStyle/block";

.bag {
    height: 100%;

    .bag__container {
        height: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;

        display: flex;
        flex-direction: column;

        .bag__header {
            @include accent-block-border;
            padding-top: 0;
            padding-bottom: 0;
        }
        .bag__list {
            @include dark-primary-block-border-pixel(.4rem);
            width: auto;
            display: grid;
            margin: 0 .4rem;
            margin-top: 1rem;
            padding: 1rem;
            grid-template-columns: repeat(5, minmax(150px, 1fr));
            gap: 1rem;
            background: rgba($primary-color-text, 0.5);
        }
    }
}