@import "../../shareStyle/palette";

.bag {
    height: 100%;

    .bag__container {
        height: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;

        display: flex;
        flex-direction: column;

        .bag__header {
            font-size: 36px;
            color: $accent-color,
        }
        .bag__list {
            width: auto;
            display: grid;
            margin: 0 10px;
            margin-top: 1rem;
            padding: 0.5rem;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 0.5rem;
            box-shadow: -10px 0 0 0 $primary-color-dark,
                        10px 0 0 0 $primary-color-dark,
                        0 -10px 0 0 $primary-color-dark,
                        0 10px 0 0 $primary-color-dark;
            background: rgba($primary-color-text, 0.5);
        }
    }
}