@import "../../shareStyle/palette";
@import "../../shareStyle/block";
@import "../../shareStyle/img";


.news-item {
    @include dark-primary-block-border-pixel;
    flex-direction: column;

    &:not(:first-child) {
        margin-top: 1.5rem;
    };
    
    .news-item__discription {
        width: 100%;
        margin: 0;
        padding: 0;

        font-size: 1rem;
        text-align: left;
        color: $primary-text-color;

        .item__discription__tag {
            display: inline;
            color: $accent-color;
        
            &._add {
                color: $primary-color;
            }
        
            .item__discription__tag-icon {
                @extend %img-option;
                width: 1rem;
                height: 1rem;
                margin: 0 .2rem;
                display: inline-block;
        
                &._money-icon {
                    background-image: url("./icon/money_red.png");
                    &._add {
                        background-image: url("./icon/money_blue.png");
                    };
                }
        
                &._bag-item-icon {
                    background-image: url("./icon/backpack_red.png");
                    &._add {
                        background-image: url("./icon/backpack_blue.png");
                    };
                }
        
                &._day-icon {
                    &._add {
                        background-image: url("./icon/days_blue.png");
                    };
                }
            }
        
        }
    }
    
    .news-item__info {
        display: flex;
        align-self: flex-end;
        height: 1rem;
        font-size: 1rem;

        .news-item__info-item {
            height: 100%;
            width: auto;
            margin-left: .5rem;
            color: $primary-text-color;
            display: flex;
            align-items: center;

            .news-item__day-icon {
                background-image: url("./icon/days_blue.png");
                @extend %img-option;
                width: 1rem;
                height: 100%;
                margin-right: .2rem;
            };
            .news-item__money-icon {
                background-image: url("./icon/money_blue.png");
                @extend %img-option;
                width: 1rem;
                height: 100%;
                margin-right: .2rem;                           
            };
            .news-item__backpack-icon {
                background-image: url("./icon/backpack_blue.png");
                @extend %img-option;
                width: 1rem;
                height: 100%;
                margin-right: .2rem;                          
            };
        }
    }
};