@import "../../shareStyle/palette";
@import "../../shareStyle/btn";
@import "../../shareStyle/block";


.user-actions {
    width: 100%;
    .user-actions__container {
        padding: 10px;
        .user-actions__row {
            @include dark-primary-block-border-pixel;
            justify-content: flex-end;
        
            .user-actions__btn {
                @extend %special-accent-btn;
                min-width: 0;
                width: 10rem;
            }
            
        }
    }
}