@import "../../shareStyle/palette";
@import "../../shareStyle/block";


.sell {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .sell__title {
        @include accent-block-border;
        padding-top: 0;
        padding-bottom: 0;
    }
}