@import "../../shareStyle/palette";


.sell {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .sell__title {
        margin-bottom: 20px;
        font-size: 2rem;
        color: $accent-color;

        border: .4rem solid $accent-color;
        background-color: $primary-color-text;
    }
}