@import "../../shareStyle/palette";
@import "../../shareStyle/btn";
@import "../../shareStyle/block";


.item {

    .item__container {
        @include dark-primary-block-border-pixel;
        height: 100%;
        flex-direction: column;
        position: relative;
        
        .item__title {
            margin-top: -10px;
            padding: 0 10px 10px 10px;
            font-size: 20px;
            color: $primary-color;
        };
        .item__img {
            height: 80px;
            margin: 0 -20px 0 -20px;
            img {
                height: 100%;
                width: 100%;
                display: block;
                object-fit: contain;
            }
        };
        .item__price {
            padding: 10px;
            font-size: 24px;
            color: $primary-color;
        };
        .item__btn {
            @extend %special-accent-btn;
            width: 90%;
        }
        .item__quantity {
            height: 2rem;
            min-width: 2rem;
            padding: 0 0.3rem;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $accent-color;
            font-size: 1rem;
            color: $primary-color-text;

            position: absolute;
            right: 0;
            top: 0;
        }
    }

}