@import "../shareStyle/palette";
@import "../shareStyle/fonts";


* {
  box-sizing: border-box;
}

html, body, div[id=root] {
  height: 100%;
  font-family: "Cyrillic Pixel-7 Regular";
};

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba($primary-color-dark, .3);
};


.cont_app{
  padding: 10px;
  background-color: width;
  font-size: 20px;
}