@import "../../shareStyle/palette";


.news {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .news__container {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        padding: 0 15px;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        .news__row {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .news__title {
                font-size: 2rem;
                color: $accent-color;
        
                border: .4rem solid $accent-color;
                background-color: $primary-color-text;
            };

            .news__list {
                flex-grow: 1;
                position: relative;
                margin: 1rem 0;

                .news__list-wrapper {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    padding: 1.5rem .5rem;
                    overflow-y: scroll;
                }
            };

        }
    }
}