@import "../../shareStyle/palette";
@import "../../shareStyle/img";


a {
    font-family: inherit;
    text-decoration: none;
}

.header {
    height: 60px;
    background-color: $primary-color-dark;

    .header__container {
        height: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;

        .header_row {
            height: 100%;
            display: flex;

            .header_left {
                display: flex;
                flex-basis: 40%;

                .header__days {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    font-size: 1rem;
                    color: $primary-color-text;

                    .header__days-icon {
                        background-image: url("./icon/days_white.png");
                        @extend %img-option;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: .5rem;
                        &._active {
                            background-image: url("./icon/days_active.png");
                        }
                    }
                }
                .header__money {
                    height: 100%;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    font-size: 1rem;
                    color: $primary-color-text;

                    .header__money-icon {
                        background-image: url("./icon/money_white.png");
                        @extend %img-option;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: .5rem;

                        &._active {
                            background-image: url("./icon/money_active.png");
                        }
                    }
                }
            };
            .header_center {
                flex: 1 0 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 2.5rem;
                color: $primary-color-text;

                .header_logo-link {
                    text-decoration: none;
                    color: inherit;
                }
            };
            .header_right {
                flex-basis: 40%;

                .header__bag {
                    height: 100%;
                    margin-left: auto;
                }
            };
        }
    }
}

.bag {
    .bag__link {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        font-size: 1rem;
        color: $primary-color-text;

        .bag__icon {
            background-image: url("./icon/backpack_white.png");
            @extend %img-option;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: .5rem;
            &._active {
                background-image: url("./icon/backpack_active.png");
            }
        }
    }
}