@import "../../shareStyle/palette";
@import "../../shareStyle/img";


a {
    font-family: inherit;
    text-decoration: none;
}

.header {
    height: 60px;
    background-color: $primary-color-dark;

    .header__container {
        height: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;

        .header_row {
            height: 100%;
            display: flex;

            .header_left {
                display: flex;
                flex-basis: 40%;

                .header__days {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    font-size: 1rem;
                    color: $primary-color-text;
  
                    &._animate-enter {
                        color: $accent-color;
                        .header__days-icon {
                            background-image: url("./icon/days_active.png");
                        }
                    }        
                    &._animate-enter-active {
                        .header__days-icon {
                            transform: scale(1.2);
                        }
                    }        
                    &._animate-enter-done {
                        color: $primary-color-text;
                    }

                    .header__days-icon {
                        background-image: url("./icon/days_white.png");
                        @extend %img-option;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: .5rem;
                        &._active {
                            background-image: url("./icon/days_active.png");
                        }
                    }
                }
                .header__money {
                    height: 100%;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    font-size: 1rem;
                    color: $primary-color-text;

                    &._animate-enter {
                        color: $accent-color;
                        .header__money-icon {
                            background-image: url("./icon/money_active.png");
                        }
                    }        
                    &._animate-enter-active {
                        .header__money-icon {
                            transform: scale(1.2);
                        }
                    }        
                    &._animate-enter-done {
                        color: $primary-color-text;
                    }

                    .header__money-icon {
                        background-image: url("./icon/money_white.png");
                        @extend %img-option;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: .5rem;

                        &._active {
                            background-image: url("./icon/money_active.png");
                        }
                    }
                }
            };
            .header_center {
                flex: 1 0 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 2.5rem;
                color: $primary-color-text;

                .header_logo-link {
                    text-decoration: none;
                    color: inherit;
                    transition: color 200ms linear;

                    &:hover,
                    &:focus {
                        color: $accent-color;
                        transition: color 200ms linear;
                    };
                    &:active {
                        transform: scale(1.01);
                        transition: transform 200ms linear;
                    }
                }
            };
            .header_right {
                margin: 0 -.5rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-basis: 40%;
                position: relative;

                .header__bag {
                    height: 100%;
                    margin-left: auto;
                    margin: 0 .5rem;
                }
                .header__menu {
                    height: 100%;
                    margin: 0 .5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .header__menu-btn {
                        height: 1.5rem;
                        width: 1.5rem;
                        border: none;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        background: none;
                        cursor: pointer;
                        position: relative;

                        .header__menu-icon {
                            width: 100%;
                            height: 0.2rem;
                            background-color: $primary-color-text;
                        }
                        &::before {
                            content: "";
                            top: 0;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            height: 0.2rem;
                            background-color: $primary-color-text;
                        }
                        &::after {
                            content: "";
                            bottom: 0;
                            right: 0;
                            position: absolute;
                            width: 100%;
                            height: 0.2rem;
                            background-color: $primary-color-text;
                        }
                        &:hover,
                        &:focus {
                            .header__menu-icon {
                                background-color: $accent-color;
                            }                            
                            &::before {
                                background-color: $accent-color;
                            }
                            &::after {
                                background-color: $accent-color;
                            }
                        }
                        &:active {
                            transform: scale(1.1);
                        }
                    }
                }
                .header__menu-body {
                    width: 100%;
                    position: absolute;
                    // right: 0;
                    bottom: 0;
                }
            };
        }
    }
}

.bag {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    .bag__link {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        font-size: 1rem;
        color: $primary-color-text;
        transition: color 200ms linear;

        &:hover,
        &:focus {
            color: $accent-color;
            transition: color 200ms linear;
            .bag__icon {
                background-image: url("./icon/backpack_active.png");
            }
        };
        &:active {
            transform: scale(1.01);
            transition: transform 200ms linear;
        }
  
        &._animate-enter {
            color: $accent-color;
            .bag__icon {
                background-image: url("./icon/backpack_active.png");
            }
        }        
        &._animate-enter-active {
            .bag__icon {
                transform: scale(1.2);
            }
        }        
        &._animate-enter-done {
            color: $primary-color-text;
        }

        .bag__icon {
            background-image: url("./icon/backpack_white.png");
            @extend %img-option;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: .5rem;
            &._active {
                background-image: url("./icon/backpack_active.png");
            }
        }
    }
}

