@import "../../shareStyle/palette";
@import "../../shareStyle/block";


.bag-item {
    @include dark-primary-block-border(.3rem);
    position: relative;
    &::before {
        content: "";
        padding-bottom: 100%;
        display: block;
    };

    .bag-item__content {
        width: 100%;
        height: 100%;
        padding: .5rem 1rem;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;

        .bag-item__title {
            margin: .5rem 0;
            padding: 0.2rem;

            font-size: 1.5rem;
            color: $primary-color;
        }
        .bag-item__img {
            width: 80%;
            margin: .5rem auto;
            padding: 0.5rem;

            flex-grow: 1;
            img {
                display: block;
                height: 100%;
                margin: auto;
                object-fit: contain;
            }
        }
        .bag-item__count {
            position: absolute;
            bottom: 0;
            right: 0;
            min-width: 2rem;
            padding: 0.2rem;
            background: $accent-color;
            font-size: 1rem;
            color: $primary-color-text;
        }
    }
    .bag-item__actions {
        display: none;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba($primary-text-color, .2);
        
        .bag-item__delete {
            height: 25px;
            width: 25px;
            font-family: inherit;
            font-size: 24;
            color: $primary-color-text;
            border: none;
            box-shadow: -5px 0 0 0 $accent-color,
                        5px 0 0 0 $accent-color,
                        0 -5px 0 0 $accent-color,
                        0 5px 0 0 $accent-color;
            background: $accent-color;
            cursor: pointer;
            &:hover,
            &:focus {
                box-shadow: -5px 0 0 0 $accent-color-active,
                            5px 0 0 0 $accent-color-active,
                            0 -5px 0 0 $accent-color-active,
                            0 5px 0 0 $accent-color-active;
                background: $accent-color-active;
            }
            &:active {
                transform: scale(.95);
            }
        }
    }
    &:hover,
    &:focus {
        .bag-item__actions {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}