@import "../../shareStyle/palette";

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

.items-list {
    padding: 30px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}