@import "../../shareStyle/palette";

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

.items-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}