@import "../../../shareStyle/palette";
@import "../../../shareStyle/btn";


.skeleton-trader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-top: 5px solid $accent-color;
    border-bottom: 5px solid $accent-color;
    padding: 10px;

    .skeleton-trader__avatar {
        height: 100px;
        width: 100px;
        margin: 10px auto;
        overflow: hidden;
        box-shadow: -6px 0 0 0 $primary-color-text,
                    6px 0 0 0 $primary-color-text,
                    0 -6px 0 0 $primary-color-text,
                    0 6px 0 0 $primary-color-text;
        animation: base-animate 2s infinite linear;
    }
    .skeleton-trader__title {
        height: 2.4rem;
        width: 90%;
        margin-top: 10px;
        animation: base-animate 3s infinite linear;
    };
    .skeleton-trader__actions {
        width: 100%;
        margin-top: .5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .skeleton-trader__actions-buy {
            @extend %accent-btn;
            width: 80px;
            margin: 0 .5rem;
        };
        .skeleton-trader__actions-sell {
            @extend %reverse-accent-btn;            
            width: 80px;
            margin: 0 .5rem;
        }
    }
}

@keyframes base-animate {
    0% {
        background-color: rgba($primary-color-text, .4);
    } 
    25% {
        background-color: rgba($primary-color-text, .7);
    }    
    50% {
        background-color: rgba($primary-color-text, 1);
    }    
    75% {
        background-color: rgba($primary-color-text, .7);
    }    
    100% {
        background-color: rgba($primary-color-text, .4);
    }
}